absl-py==2.3.1
aiohttp==3.9.1
aiosignal==1.4.0
annotated-types==0.5.0
anyio==3.7.1
astunparse==1.6.3
attrs==25.4.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
deap==1.4.3
dnspython==2.3.0
dotenv==0.9.9
ecdsa==0.18.0
fastapi==0.103.1
fastapi-paginate==0.1.0
fastapi-pagination==0.10.0
filelock==3.19.1
flatbuffers==25.2.10
fonttools==4.59.0
frozenlist==1.8.0
fsspec==2025.9.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.74.0
h11==0.14.0
h5py==3.14.0
huggingface-hub==0.36.0
idna==3.4
imageio==2.37.0
implicit==0.7.2
Jinja2==3.1.6
joblib==1.5.1
keras==3.11.2
kiwisolver==1.4.8
lazy_loader==0.4
libclang==18.1.1
Markdown==3.8.2
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.5
mdurl==0.1.2
ml_dtypes==0.5.3
motor==3.3.1
mpmath==1.3.0
multidict==6.7.0
namex==0.1.0
narwhals==2.14.0
networkx==3.5
numpy==2.3.2
opt_einsum==3.4.0
optree==0.17.0
packaging==25.0
pandas==2.3.1
passlib==1.7.4
pillow==11.3.0
plotly==6.5.0
propcache==0.4.1
protobuf==6.31.1
pyasn1==0.5.0
pyBCV==1.0.9
pydantic==2.3.0
pydantic_core==2.6.3
Pygments==2.19.2
PyJWT==2.8.0
pymongo==4.5.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.1
python-jose==3.3.0
python-multipart==0.0.20
python-oauth2==1.1.1
pytz==2025.2
PyYAML==6.0.3
regex==2025.11.3
requests==2.31.0
rich==14.1.0
rsa==4.9
safetensors==0.7.0
scikit-image==0.25.2
scikit-learn==1.7.1
scipy==1.16.1
seaborn==0.13.2
setuptools==68.0.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
starlette==0.27.0
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
threadpoolctl==3.6.0
tifffile==2025.9.20
tokenizers==0.22.1
torch==2.7.1+cu118
torchvision==0.22.1+cu118
tqdm==4.67.1
transformers==4.57.3
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.0.6
uvicorn==0.23.2
Werkzeug==3.1.3
wheel==0.37.1
wrapt==1.17.3
yarl==1.22.0
